.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 70vw;
    transform: translate(-50%, -50%);
    padding: 7.5vh 5vw;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 15px;
    border: 1px solid #3E3B3B;
    background: rgba(20, 20, 20, 0.70);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    z-index: 1000;
}

.modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image {
    display: flex;
    justify-content: center;

    & img {
        width: 66%;
        padding: 0 20px;
    }
}

.modalContent {
    display: flex;
    justify-content: center;
}

.bottomContent {
    display: flex;
    flex-direction: column;
}

.textData {
    color: rgba(133, 133, 173, 1);
}


.exitCross {
    display: flex;
    justify-content: flex-end;
}

.orderDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spinner {
    display: flex;
    margin-top: 300px;
    margin-bottom: 300px;
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}
