.bubblesContainer {
    position: relative;
    width: 100%;
    height: 87vh;
}

.bubble {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    text-align: center;
    padding: 10px;
    color: #fff;
}

.bubbleLink {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: inherit;
    text-decoration: none;
}
