.gradientBackground {
    position: fixed; /* Ensures it covers the entire screen */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(60deg,#000352,#df9100,#040113);
    background-size: 180% 180%;
    animation: gradient-animation 21s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
